
/extension/shareAirExt/.actionScriptProperties
/extension/shareAirExt/.flexLibProperties
/extension/shareAirExt/.project
/extension/shareAirExt/.settings/org.eclipse.core.resources.prefs
/extension/shareJavaExt/.settings/org.eclipse.jdt.core.prefs
/extension/shareJavaExt/.project
/extension/shareJavaExt/project.properties